<!DOCTYPE html>
        <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ '/assets/css/academicons.css?v=' | append: site.github.build_revision | relative_url }}">
        <script src="https://use.fontawesome.com/fa43afbafd.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>

        {% seo %}
        <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
    </head>

    <div class="mastheader">
        <a href="{{ "/" | absolute_url }}">Balaje Kalyanaraman</a>
        <div class="mastheader-right">
            <a href="/">Home</a>
            <a href="/about.html">Resume</a>
            <a href="/research.html">Research</a>
            <a href="/blog-page.html">Blog</a>
            <a href="/gsoc/index.html">GSoC</a>
            <a href="/wip/index.html">WIP</a>
        </div>
    </div>

    <hr>
    <br>

    <body>
        <div class="wrapper">
            <header>
                {% if site.logo %}
                <img class="special-image" src="{{site.logo | relative_url}}" alt="Logo" border-radious=100%/>
                {% endif %}

                <p style="font-size:14px;">{{ site.description | default: site.github.project_tagline }}</p>


                {% if site.show_downloads %}
                <ul class="downloads">
                    <li><a class="contact_link" href="https://scholar.google.com.au/citations?user=h_FPNVAAAAAJ&hl=en">
                        <i class="ai ai-google-scholar-square ai-3x"></i></a></li>
                    <li><a class="contact_link" href="https://www.researchgate.net/profile/K_Balaje">
                        <i class="ai ai-researchgate-square ai-3x"></i></a></li>
                </ul>
                <ul class="downloads">
                    <li><a class="contact_link" href="https://github.com/Balaje">
                        <i class="fa fa-github-square fa-3x"></i></a></li>
                    <li><a class="contact_link" href="https://orcid.org/0000-0001-6181-1876">
                        <i class="ai ai-orcid-square fa-3x"></i></a></li>
                </ul>
                {% endif %}
            </header>
            <section>

                {{ content }}

                <small style="text-align: center;">&copy 2019- Balaje Kalyanaraman. Hosted on Github pages. Based on the Minimal Theme by <a href="https://orderedlist.com/minimal/">orderedlist</a></small>

            </section>           
        </div>
        <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

        {% if jekyll.environment == 'production' %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-T53S9SY4F2"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'G-T53S9SY4F2');
        </script>
        {% endif %}
    </body>
</html>
