<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap" rel="stylesheet">
  <link href="https://googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/font-awesome-4.7.0/css/font-awesome.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/academicons-1.9.4/css/academicons.min.css' | relative_url }}">
  
  <title>
    {% if page.title %}
    {{ page.title }} · {{ site.title }}
    {% else %}
    {{ site.title }}
    {% endif %}
  </title>
  
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      }
    };
  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js" async></script>
  
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link href="https://cdn.jsdelivr.net/npm/prismjs@1/themes/prism.min.css" rel="stylesheet">
  
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1/prism.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-julia.min.js"></script>
</head>

<body>
  
  <header>
    <nav>
      <a href="{{ '/' | relative_url }}">Balaje Kalyanaraman</a>
      <a href="{{ '/about/' | relative_url }}" class="{% if page.url contains '/about/' %}active{% endif %}">About</a>
      <a href="{{ '/summary/' | relative_url }}" class="{% if page.url contains '/summary/' %}active{% endif %}">Projects</a>      
      <a href="{{ '/archive/' | relative_url }}" class="{% if page.url contains '/archive/' %}active{% endif %}">News Archive</a>      
      <a href="{{ '/blog/' | relative_url }}" class="{% if page.url contains '/blog/' %}active{% endif %}">Blog</a>
    </nav>
  </header>
  
  <div class="page-layout">
    <aside class="sidebar">
      <h3> <img src="/img/avatar_icon.jpg" /> </h3>
      <div class="social-links">
        <a href="https://github.com/Balaje">
          <i class="fa fa-github"></i>
          GitHub
        </a>
        <a href="https://www.researchgate.net/profile/K-Balaje">
          <i class="ai ai-researchgate"></i>
          ResearchGate
        </a>
        <a href="https://scholar.google.com/citations?user=h_FPNVAAAAAJ">
          <i class="ai ai-google-scholar"></i>
          Google Scholar
        </a>
        <a href="https://orcid.org/0000-0001-6181-1876">
          <i class="ai ai-orcid"></i>
          ORCID
        </a>
        <a href="mailto:balaje6@gmail.com">
          <i class="fa fa-envelope"></i>
          Email
        </a>
        <a href="/gsoc/">
          <i class="fa fa-book"></i>
          GSoC 2021
        </a>
      </div>
    </aside>
    
    <main>    
      {{ content }}
    </main>
  </div>
  
  <footer>
    <p>© {{ site.time | date: "%Y - " }} {{ site.title }}</p>
  </footer>
  
</body>
</html>
