<!DOCTYPE html>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ '/assets/css/academicons.css?v=' | append: site.github.build_revision | relative_url }}">
        <script src="https://use.fontawesome.com/fa43afbafd.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>

        {% seo %}
        <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
    </head>

    <div class="mastheader">
        <a href="{{ "/" | absolute_url }}">Balaje Kalyanaraman</a>
        <div class="mastheader-right">
            <a href="/">Home</a>
            <a href="/about.html">Resume</a>
            <a href="/research.html">Research</a>
            <a href="/blog-page.html">Blog</a>
            <a href="/gsoc/index.html">GSoC</a>
        </div>
    </div>

    <br><br>

    <body>
        <div class="wrapper">
            <header>
                {% if site.logo %}
                <img src="{{site.logo | relative_url}}" alt="Logo" />
                {% endif %}

                <p>{{ site.description | default: site.github.project_tagline }}</p>


                {% if site.show_downloads %}
                <ul class="downloads">
                    <li><a class="contact_link" href="https://scholar.google.com.au/citations?user=h_FPNVAAAAAJ&hl=en">
                        <i class="ai ai-google-scholar-square ai-3x"></i></a></li>
                    <li><a class="contact_link" href="https://github.com/Balaje">
                        <i class="fa fa-github-square fa-3x"></i></a></li>
                    <li><a class="contact_link" href="https://www.bitbucket.org/balajek">
                        <i class="fa fa-bitbucket-square fa-3x"></i></a></li>
                </ul>
                <ul class="downloads">
                    <li><a class="contact_link" href="https://www.researchgate.net/profile/K_Balaje">
                        <i class="ai ai-researchgate-square ai-3x"></i></a></li>
                    <li><a class="contact_link" href="https://orcid.org/0000-0001-6181-1876">
                        <i class="ai ai-orcid-square fa-3x"></i></a></li>
                    <li><a class="contact_link" href="https://arxiv.org/a/balaje_k_1.html">
                        <i class="ai ai-arxiv-square ai-3x"></i></a></li>
                </ul>
                {% endif %}
            </header>
            <section>

                {{ content }}

            </section>
            <footer>
                <small>&copy 2019-2021 Balaje Kalyanaraman</small><br>
                <small>Hosted on GitHub Pages</small><br>
                <small> Based on the Minimal Theme by <a href="https://orderedlist.com/minimal/">orderedlist</a></small>
            </footer>
        </div>
        <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

        {% if jekyll.environment == 'production' %}
        {% if site.google_analytics %}
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
         ga('create', '{{ site.google_analytics }}', 'auto');
         ga('send', 'pageview');
        </script>
        {% endif %}
        {% endif %}
    </body>
</html>
